body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* scroll-behavior: smooth; */
    overflow-y: scroll;
    padding-top: 40px;
}

body {
    scroll-snap-type: y mandatory;
}

section {
    padding: 40px 0 0 0;
    min-height: 100vh;
    scroll-snap-align: start;
    width: 100%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: #343F4F; /*333333 */
    /* Remove position: relative; */
}

.intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}



    #experience {
        background: lightgreen;
    }

    #portfolio {
        background: lightcoral;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .profile-pic {
        width: 400px; /* Adjust the width as desired */
        height: auto; /* Maintain the aspect ratio */
        border-radius: 50%; /* Makes the image round */
        border: 3px solid #fff; /* Optional: adds a border around the image */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: adds a shadow */
        margin-top: 20px; /* Adjust top spacing */
        margin-bottom: 20px; /* Adjust bottom spacing */
        display: block; /* Changes the display to block */
        margin-left: auto; /* Centers the image horizontally */
        margin-right: auto; /* Centers the image horizontally */
    }
    .type-writer{display: inline;}
    .intro-text .type-writer p {
        font-family: 'Great Vibes', cursive;
        font-size: 2rem;
        margin: 0;
        border-right: 2px solid;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        color: #E0E0FF;
        animation:
                typing 2s steps(23),
                cursor .4s step-end infinite alternate ;
    }
    /* Cursor Bliniking */
    @keyframes cursor{
        50% {border-color: transparent;}
    }

    /* typing effect */
    @keyframes typing{
        from {width: 0}
    }
    .intro-text .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        color: #E0E0FF;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        }
        40% {
        transform: translateY(-30px);
        }
        60% {
        transform: translateY(-15px);
        }
    }
    

    .social-icons {
        display: flex;
        gap: 10px;
        justify-content: center; /* Center the icons horizontally */
    }
    
    .social-icons a[href*="linkedin.com"] img {
        width: 45px; /* Set the desired width for the LinkedIn icon */
        height: auto;
        transition: transform 0.3s;
        border-radius: 50%;
    }
    .social-icons a {
        display: block;
        margin: 10px; /* Adjust the margin for spacing around the icons */
    }
    
    .social-icons img {
        width: 35px;
        height: auto;
        transition: transform 0.3s;
        border-radius: 50%;
    }
    
    .social-icons img:hover {
        transform: scale(1.2);
        background: linear-gradient(to bottom, #c30000, #8b0000);
    }
    


    /* Add styles for the modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-content {
        background-color: #f2f2f2;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        position: relative;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        cursor: pointer;
    }

    /* Style the "About Me" button */
    #aboutMeButton {
        background: linear-gradient(90deg, #FF0000, #8B0000); /* Red metallic gradient background */
        color: #E0E0FF; /* Text color */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        position: relative; /* Needed for the shimmer effect */
        overflow: hidden; /* Hide the shimmer overflow */
        transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    }
    
    #aboutMeButton:hover {
        background: linear-gradient(90deg, #8B0000, #FF0000); /* Reversed gradient on hover */
        transform: scale(1.05); /* Slight scale-up on hover for shimmer effect */
    }
    
    

    /* Add styles for the "About Me" button hover effect if needed */
    #aboutMeButton:hover {
        background-color: #444;
    }



